<div class="modal-body">
    <div id="all-cart-items">
    <% cart_items.each do |item|%>
        <hr>
        <%= image_tag item.book.images.first %>
        <%= item.book.course %><br>
        <%= item.quantity %><br>
        <%= item.book.price %><br>
        </div>
    <% end %>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <%= link_to "Buy" , class: "btn btn-primary"%>
</div>